extends ../1-layouts/_standard

block meta
  title= meta.about.title
  meta(name='description', content=meta.about.description)
  meta(property='og:title', content=meta.about.title)
  meta(property='og:description', content=meta.about.description)
  meta(property='og:url', content=`${site.url}${menu[2].url}`)

block main
  main.main
    .parallax(data-image-src='/img/parallax-about.jpg')
      div
        h1.h1 About me

    .about
      .container
        img.profile-pic(src='/img/andrea.jpg', alt='Andrea Colosio Portrait')
        .intro!= about.intro

      .container.smaller
        h2.h2 Origin story
        div!= about.originStory

      .container
        ul.slider.unstyled-list
          each slide in slider
            +slide(slide.url, slide.alt)

        h2.h2 Skills & Knowledge
        .row
          .half
            h3.h4 Skills
            ul
              each skill in about.skills
                li= skill
          .half
            h3.h4 Knowledge
            ul
              each knowledge in about.knowledge
                li= knowledge
