extends 1-layouts/_standard

block meta
  title= meta.home.title
  meta(name='description', content=meta.home.description)
  meta(property='og:title', content=meta.home.title)
  meta(property='og:description', content=meta.home.description)
  meta(property='og:url', content=`${site.url}${language}${menu.home.url}`)

block main
  main.main
    .parallax(data-image-src='/img/parallax-home.jpg')
      div
        h1.h1= slogan.main
        p.h3= slogan.secondary

    .works
      .container
        h3.h2.no-margin-top Home
        +videoPlayer(works.slice(0, 3))
        +button('View all works', `/${language}${menu.works.url}`)

    .news
      .container
        h3.h2 News
        - const latestNews = news[0];
        +news(latestNews.thumbnail, latestNews.alt, latestNews.title, latestNews.date, latestNews.isodate, latestNews.text)
        +button('View all news', `/${language}${menu.news.url}`)
