extends ../1-layouts/_standard

block meta
  title= meta.news.title
  meta(name='description', content=meta.news.description)
  meta(property='og:title', content=meta.news.title)
  meta(property='og:description', content=meta.news.description)
  meta(property='og:url', content=`${site.url}${menu[3].url}`)

block main
  main.main
    .parallax(data-image-src='/img/parallax-news.jpg')
      div
        h1.h1 News

    .news
      .container
        each newsItem in news
          +news(newsItem.thumbnail, newsItem.alt, newsItem.title, newsItem.date, newsItem.isodate, newsItem.text)
