extends ../1-layouts/_standard

block meta
  title= `${langFallback(langFallback(menu[0].fields.whatIDo).fields.name)} — ${langFallback(site[0].fields.metaTitle)}`
  meta(name='description', content=langFallback(site[0].fields.metaDescription))
  meta(property='og:title', content=langFallback(site[0].fields.metaTitle))
  meta(property='og:description', content=langFallback(site[0].fields.metaDescription))
  meta(property='og:url', content=`${langFallback(site[0].fields.url)}${language}${langFallback(langFallback(menu[0].fields.whatIDo).fields.url)}`)

block main
  main.main
    .parallax(data-image-src=langFallback(langFallback(parallaxImage[0].fields.whatIDo).fields.file).url, data-image-alt='', data-mirror-container='.parallax', data-z-index='')
      div
        h1.h1= langFallback(langFallback(menu[0].fields.whatIDo).fields.name)

    .what-i-do
      .container.smaller
        .large-paragraph!= langFallback(whatIDo[0].fields.intro)

        ul.what-i-do-sections.unstyled-list
          each job in langFallback(whatIDo[0].fields.jobs)
            +whatIDoSection(
              langFallback(job.fields.name),
              langFallback(job.fields.description)
            )

        .large-paragraph!= langFallback(whatIDo[0].fields.outro)
