extends ../1-layouts/_standard

block meta
  title= meta.works.title
  meta(name='description', content=meta.works.description)
  meta(property='og:title' content=meta.works.title)
  meta(property='og:description' content=meta.works.description)
  meta(property='og:url' content=`${site.url}${menu[1].url}`)

block main
  main.main
    .parallax(data-image-src='/img/parallax-works.jpg')
      div
        h1.h1 Works

    .works
      .container
        +videoPlayer(works)
